<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Task</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
  <ion-input placeholder="Enter task" [(ngModel)]="newTaskTitle" value=""></ion-input>
  <ion-button (click)="addTask()">Add Task</ion-button>
  
  <ion-button [routerLink] = "['/presets']">View presets</ion-button>
</ion-content>
